version: '3.8'

services:
  server:
    image: {{ dockerhub_username }}/online-shop-server:latest
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://user:password@db:5432/production
      - CLIENT_URL=http://{{ ansible_host }}  
      - SERVER_IP={{ ansible_host }}          # Новая переменная
    depends_on:
      - db

  client:
    image: {{ dockerhub_username }}/online-shop-client:latest
    ports:
      - "80:80"
    environment:
      - REACT_APP_API_URL=http://{{ ansible_host }}:3000  
    depends_on:
      - server

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: production
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: